[user]
	name = Corbin Bartsch
	email = me@cbarts.net
[alias]
	undo = reset --mixed HEAD
	keep-remote = update-index --assume-unchanged
	keep-local = update-index --no-assume-unchanged
[commit]
	gpgsign = false
[url "ssh://aur@aur.archlinux.org/"]
	insteadOf = "aur:"
[url "ssh://git@github.com:/"]
	insteadOf = "github:"
[credential]
	helper = store
[init]
	defaultBranch = master
