[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/start/vim-css-color"]
	path = .vim/pack/plugins/start/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule ".vim/pack/plugins/start/vim-wordy"]
	path = .vim/pack/plugins/start/vim-wordy
	url = git@github.com:reedes/vim-wordy.git
[submodule ".vim/pack/plugins/start/vim-ditto"]
	path = .vim/pack/plugins/start/vim-ditto
	url = git@github.com:dbmrq/vim-ditto.git
[submodule ".vim/pack/plugins/start/vimtex"]
	path = .vim/pack/plugins/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "/home/corbin/.vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
