/* Load wal colors */
@import url("/home/corbin/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: Fira Code, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    opacity: 0.7; /* Should be the same opacity as terminal background */
    background: @background;
    color: @foreground;
}

#workspaces button {
    color: @foreground;
    padding: 0 5px;
    background: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: @foreground;
    background: @color2;
    border-bottom: 3px solid @color3;
}

#mode {
    background: @color1;
}

#clock, #battery, #network, #pulseaudio, #custom-brightness, #mode, #custom-spotify, #custom-drive, #cpu, #memory {
    padding: 0 10px;
    margin: 0 5px;
    border-bottom: 3px solid @color3;
}

#battery.critical {
    color: @color4;
}

#battery.charging {
    color: @color2;
}

#network.disconnected {
    color: @color4;
}

#pulseaudio.muted {
    color: @color4;
}
